<ion-view hide-nav-bar="true" class="bg-lightgrey">

    <ion-header-bar>
        <div class="row text-center">
            <div class="col font-thin text-large dark" ui-sref="tabs.account" style="color:gray;">Cancel</div>
            <div class="col font-thin text-large balanced bl-grey profile" style="color:green;" ng-click="save()">Save</div>
        </div>
    </ion-header-bar>

  <ion-content>
    <div class="login_page">
      <div class="ballin">
          <div class="camera-design">
            <img class="header__thumb" src = "{{ profile.photo }}">
          </div>

        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Post Type
            </div>
            <select>
                <option>Regular Post</option>
                <option>Event</option>
            </select>
          </label>

          <label class="item item-input">
            <span class="input-label">Enter Location</span>
            <input type="text">
          </label>

          <label class="item item-input">
            <span class="input-label">Enter Date</span>
            <input type="date">
          </label>

          <label class="item item-input">
              <span class="input-label">Enter Cost</span>
              <input type="text">
          </label>

          <label class="item item-input">
              <span class="input-label">Enter Time</span>
              <input type="text">
          </label>

          <label class="item item-input">
            <span class="input-label">Add Caption</span>
            <input type="text">
          </label>

        </div>
      </div>
    </div>
  </ion-content>

  <div class="bar bar-footer">
      <button class="button button-clear write" style="color: red; padding-left: 10px;">
      <i class="icon ion-paperclip"></i>
      </button>

      <button class="button button-clear" style="color: red; padding-right: 6px;" ng-click="goToSend()">
      <i class="icon ion-android-send"></i>
      </button>
  </div>

</ion-modal-view>
