<ion-view title="Browse">
    <ion-nav-buttons side = "left">
         <button class="button button-icon button-clear button-dark">
            <img src="img/TTG-Symbol-2015-02.png" style="position: relative;top: 2px;height: 29px;left: 5px;">
         </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon dark icon ion-ios-search" ng-click="gotoExplore()"></button>
    </ion-nav-buttons>

    <ion-content class="has-header" scroll="false">
        <div class="row text-center">
            <div class="col font-thin" ng-click="gotoMatch()">Match</div>
            <div class="col font-thin" ng-click="gotoAccount()">Profile</div>
            <div class="col font-thin" ng-click="gotoCoaches()">Trainers</div>
        </div>

        <div style="height:95%; overflow:scroll" class="bg-lightgrey">

            <div ng-if="news.type === 'image'">
                <div class="card image" ng-repeat="post in news.items | filter: searchFilter  | orderBy: 'publishedDate':true">
                    <div class="item item-image">
                        <img ng-src="{{post.image}}">
                        <span class="interact">
                        <i class="icon ion-checkmark-round" ng-class="{'calm light-bg': commit, 'light': !commit }" ng-click="commit = !commit"></i>
                        <i class="icon ion-ios-heart" ng-class="{'calm light-bg': liked, 'light': !liked }" ng-click="liked = !liked"> {{post.likes.length}}</i>
                        <i class="icon ion-ios-chatbubble light"> {{post.comments.length}}</i>
                    </span>
                        <div class="item item-avatar" ui-sref="tabs.post-detail({post:post})">
                            <img ng-src="{{post.sourceLogo}}">
                            <h2>{{post.author}}</h2>
                            <p>Event Post</p>
                            <p>{{post.title}}</p>
                            <p class="text-smaller" am-time-ago="{{post.publishedDate}}"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>

    <a class="btn-floating btn-large waves-effect waves-light red lighten-1" style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="newsPopover.show($event);"><i class="icons ion-ios-camera" style="color: white"></i></a>
</ion-view>
