<ion-view title="Post" class="bg-lightgrey">

    <ion-nav-buttons side = "left">
         <button class="button button-icon button-clear button-dark">
            <img src="img/TTG-Symbol-2015-02.png" style="position: relative;top: 2px;height: 29px;left: 5px;">
         </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
         <button class="button button-clear" ng-click="showConfirm()" >
          <i class="icon ion-android-more-vertical" style="padding-right: 21px;"></i>
        </button>
   </ion-nav-buttons>

    <ion-content class="has-header" scroll-event-interval="5" padding="false">

        <div class="card post-detail">
            <div class="item item-body">
                <img class="full-image" ng-src="{{post.image}}">
                <div class="item item-avatar" ui-sref="tabs.post-detail({post:postId})">
                    <img ng-src="{{post.sourceLogo}}">
                    <h2>{{post.owner}}</h2>
                    <p>{{ post.postType | uppercase }}</p>
                    <p>{{post.description}}</p>
                    <p>{{ post.location }}</p>
                    <p class="text-smaller" am-time-ago="{{}}">{{ post.date | date}} : {{ post.time }}</p>
                </div>
                <div class="item comments">
                    <p>
                        <span ng-click="like(post);"><img ng-src="{{liker.photo}}" class="likers" ng-repeat="liker in post.likes | limitTo:-3"><span class="pull-left interact"> +{{post.totalLikes}} Like</span>
                        <span ng-click="commit(post);"><img ng-src="{{commiter.photo}}" class="commits" ng-repeat="commits in post.commits | limitTo:-3"><span class="pull-left interact"> +{{post.commits.length}} Commit</span>
                        <span ng-click="event();">Edit</a>
                        <span ui-sref="tabs.comments({post: post, type:'comments'})" class="pull-right">{{post.comments.length}} Comments</a>
                </p>
                </div>
                <div class="item comments no-b">
                    <div class="item item-avatar" ng-if="post.comments"ng-repeat="comment in post.comments" >
                        <img ng-src="{{comment.photo}}"/>
                        <h2 class="text-small">{{comment.name}}</h2>
                    <p class="text-smaller">{{comment.text}}</p>

                    </div>
                    <p ng-if="!post.comments && !commentMode">No comments. be the first to <a ng-click="activateCommentMode()">leave a comment</a></p>
                    <ul>
                      <li>
                      </li>
                    </ul>
                    <textarea ng-model="commentText" ng-if="commentMode">
                    </textarea>
                    <button ng-click="createComment('post', postId, 'commentText')" ng-if="commentMode">submit</button>
                    <button ng-click="deactivateCommentMode()" ng-if="commentMode">cancel</button>
                </div>
            </div>
        </div>

    </ion-content>

    <ion-footer-bar class="no-bg bt-grey">
                <div class="row">
                        <div class="col text-left no-padding" ui-sref="tabs.likes({post: postId })"><i class="icon text-small" ng-class="liked == true ? 'ion-ios-heart': 'ion-ios-heart-outline'"> Like</i></div>
                        <div class="col text-left no-padding" ui-sref="tabs.commits({post: postId })"><i class="icon text-small" ng-class="commited == true ? 'ion-android-done-all': 'ion-android-done'"> Commits</i></div>
                        <div class="col text-center no-padding" ui-sref="tabs.comments({post: postId })"><i class="icon ion-ios-chatboxes-outline text-small"> {{post.comments.length}} Comment</i></div>
                        <div class="col text-right no-padding" ng-click="share(post);"><i class="icon ion-android-share-alt text-small"> Share</i></div>
                </div>
    </ion-footer-bar>

</ion-view>
