<ion-view hide-nav-bar="true" class="bg-lightgrey">

    <ion-header-bar>
        <div class="row text-center">
            <div class="col font-thin text-large dark" ui-sref="tabs.account" style="color:gray;">Cancel</div>
            <div class="col font-thin text-large balanced bl-grey profile" style="color:green;" ng-click="save()">Save</div>
        </div>
    </ion-header-bar>

    <ion-content class="profile has-header bt-grey">

        <div class="header edit">
            <!-- <img ng-src="{{user.photo}}" ng-click="sendPhoto()"> -->
            <div ng-if="profile.userThumbnail">
              <img class="header__thumb" src = "{{ profile.userThumbnail }}">
            </div>
            <div nf-if="!profile.userThumbnail">
              <img class="header__thumb" src="/img/placeholder.png" ng-click="sendPhoto()">
            </div>
        </div>

        <p class="bb text-smaller padding-horizontal uppercase" style="border-bottom: 2px solid">info</p>
        <div class="edit padding-horizontal">
            <label class="item item-input profile__input">
                <input type="text" value="{{ profile.firstName }}" name="firstName">
                <span class="input-label">First name</span>
            </label>
            <label class="item item-input profile__input">
                <input type="text" value="{{ profile.lastName }}" name="lastName">
                <span class="input-label">Last name</span>
            </label>
            <label class="item item-input profile__input">
                <input type="text" value="{{ profile.userName }}" name="userName">
                <span class="input-label">Username</span>
            </label>
            <label class="item item-input profile__input">
                <input type="email" value="{{ profile.email }}" name="email">
                <span class="input-label">Email</span>
            </label>
        </div>


            <p class="bb text-smaller padding-horizontal uppercase" style="border-bottom: 2px solid">password</p>
            <div class="edit padding-horizontal">
                <label class="item item-input">
                    <span class="input-label" ng-model="changePasswordData.oldPassword">old password</span>
                    <input type="password" >
                </label>
                <label class="item item-input">
                    <span class="input-label" ng-model="changePasswordData.newPassword">new password</span>
                    <input type="password">
                </label>
                <label class="item item-input">
                    <span class="input-label" ng-click="doChangePassword()">confirm password</span>
                    <input type="password">
                </label>
            </div>

        <p class="bb text-smaller padding-horizontal uppercase" style="border-bottom: 2px solid">Description</p>
        <div class="edit padding-horizontal">
          <label class="item item-input">
                <span class="input-label">Description</span>
                <input type="text">
            </label>

        </div>

    </ion-content>
</ion-view>